@if (AccountId == Message.SenderId)
{
    <div id="messageid_@Message.Id" class="d-flex justify-end pa-2">
        <div class="d-flex flex-column pa-2 ml-12" style="background-color:#d9f4ff; border-radius:3px">
            <MudText Typo="Typo.body2">@Message.Text</MudText>
            <div class="d-flex align-center justify-end" style="color:#85c3de">
                <MudText Style="text-align:left; font-size:12px">@Message.CreateDate.ToMyString()</MudText>
                @if (Message.ReadDate.HasValue) 
                {
                    <MudIcon Icon="@Icons.Material.Filled.DoneAll" Color="Color.Inherit" Style="font-size:16px; margin: 0 0 1px 5px" title="@($"Прочитано: {Message.ReadDate.Value.ToMyString()}")" />
                }
                else 
                {
                    <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Inherit" Style="font-size:16px; margin: 0 0 1px 5px" />
                }
            </div>
        </div>
    </div>
}
else
{
    <div id="messageid_@Message.Id" class="d-flex pa-2">
        <div class="pa-2 mr-12" style="background-color:#e8f7df; border-radius:7px">
            <MudText Typo="Typo.body2">@Message.Text</MudText>
            <MudText class="d-flex justify-end" Style="color:#90d665; text-align:left; font-size:12px">@Message.CreateDate.ToMyString()</MudText>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired] public int AccountId { get; set; }
    [Parameter, EditorRequired] public MessagesDto Message { get; set; } = null!;
}
