<MudExpansionPanel Disabled="!Data.IsPanel1Valid" Expanded="Data.IsPanel1Valid">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Color="Data.IsPanel2Valid ? Color.Success : Color.Default" Icon="@Icons.Material.Filled.Group" class="mr-3" />
            <MudText Color="Data.IsPanel2Valid ? Color.Success : Color.Default"><b>2. ПАРТНЁРЫ</b></MudText>
        </div>
        <p style="font-size:14px; color:gray; margin-top:5px">Добавьте не более двух партнёров Вашей учётной записи с указанием имени, возраста и иных данных каждого партнёра (т.е. укажите, кто Вы: мужчина, женщина или пара).</p>
    </TitleContent>

    <ChildContent>
        <MudSimpleTable Hover Elevation="0" Style="overflow:hidden">
            <tbody>
                @foreach (var user in Data.AccountRequestDto.Users) 
                {
                    <tr>
                        <td class="py-4 px-2">
                            <div class="d-flex justify-space-between align-center">
                                <div class="d-flex gap-4 align-center">
                                    <UserGenderIcon User="@user" />
                                    <div class="d-flex flex-column gap-0">
                                        <div><b>@user.Name</b></div>
                                        <div>@user.ToGenderAgeString() / @user.Height см / @user.Weight кг</div>
                                    </div>
                                </div>

                                <div class="d-flex gap-1">
                                    <div><MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" OnClick="async () => await Data.UpdateUserDialogAsync(user)" /></div>
                                    <div><MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="async () => await Data.DeleteUserDialogAsync(user)" /></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>

        <div class="d-flex flex-column align-end">
            <MudButton StartIcon="@Icons.Material.Outlined.Add" ButtonType="ButtonType.Button" Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled" OnClick="Data.AddUserDialogAsync" Disabled="Data.AccountRequestDto.Users.Count < 2 ? false : true" Class="mt-2">Добавить</MudButton>
        </div>
    </ChildContent>
</MudExpansionPanel>


@code {
    [Parameter, EditorRequired] public AccountDtoBase Data { get; set; } = null!;
}