<div class="d-flex flex-column pa-2 ml-12" style="background-color:#d9f4ff; border-radius:3px">
    <div class="d-flex justify-center">
        <MudIcon Icon="@Icons.Material.Filled.NotificationsActive" Color="Color.Inherit" Style="font-size:18px; color:#59a2c2; margin: 0 3px 2px 1px" />
        <MudText Typo="Typo.body2">@StaticData.NotificationTypes[Message.Type].SenderMessage</MudText>
    </div>

    <div class="d-flex gap-1 justify-end align-center mt-1 mb-1">
        <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Small" Style="color:#f74040; margin-bottom:2px" />
        <p onclick="_dotNetReference.invokeMethodAsync('CancelFriendshipAsync', parseInt(@Message.Id))" style="cursor:pointer; color:#f74040">Отменить</p>
    </div>

    <div class="d-flex align-center justify-end" style="color:#85c3de">
        <MudText Style="text-align:left; font-size:12px">@Message.CreateDate.ToMyString()</MudText>
        @if (Message.ReadDate.HasValue)
        {
            <MudIcon Icon="@Icons.Material.Filled.DoneAll" Color="Color.Inherit" Style="font-size:16px; margin: 0 0 1px 5px" title="@($"Прочитано: {Message.ReadDate.Value.ToMyString()}")" />
        }
        else
        {
            <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Inherit" Style="font-size:16px; margin: 0 0 1px 5px" />
        }
    </div>
</div>


@code {
    [Parameter, EditorRequired] public MessagesDto Message { get; set; } = null!;
}
