<MudNavMenu Color="Color.Primary" Bordered="true">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Главная</MudNavLink>
    <MudNavLink Href="/events" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Diversity1">Клубы и мероприятия</MudNavLink>
    @* <MudNavLink Href="/private" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SupervisorAccount">Частные встречи</MudNavLink> *@
    <MudNavLink Href="/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Portrait">Участники</MudNavLink>
    @if (CurrentState.Account == null)
    {
        <MudNavLink Href="/login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Login">Войти</MudNavLink>
    }
    else
    {
        <MudNavLink Href="/messages" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Message">
            <div class="d-flex justify-space-between">
                <p>Сообщения</p>
                <p id="NumberOfMessages" style="color:orangered; font-weight:bold; display:none"></p>
            </div>
        </MudNavLink>

        <MudNavLink OnClick="async() => { await CurrentState.LogOutAsync(); }" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Logout">Выйти</MudNavLink>
    }
</MudNavMenu>

<p align="center" style="font-size:12px; color:gray; margin-top:20px">В разработке!</p>
<p align="center" style="font-size:12px; color:gray">Версия от 26.03.2025</p>
