@if (CurrentState.Account != null)
{
    <div style="position:relative; margin-right:3px">
        <MudButton id="NumberOfMessagesButton" StartIcon="@Icons.Material.Outlined.Chat" Color="Color.Info">
            <span id="NumberOfMessages" style="color:orangered">25</span>
        </MudButton>
    </div>

    <div style="position:relative; margin-right:3px">
        <MudButton id="NumberOfNotificationsButton" StartIcon="@Icons.Material.Filled.NotificationsNone" Color="Color.Info" IconSize="Size.Large">
            <span id="NumberOfNotifications" style="color:orangered">2</span>
        </MudButton>
    </div>

    <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.TopLeft" TransformOrigin="Origin.TopLeft" Color="Color.Info">
        <MudMenuItem Href="/profile" Icon="@Icons.Material.Filled.Settings">Настройки профиля</MudMenuItem>
        <MudMenuItem Href="/" Icon="@Icons.Material.Filled.PeopleAlt">Мои друзья</MudMenuItem>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="async() => { await CurrentState.LogOutAsync(); }">Выйти</MudMenuItem>
    </MudMenu>
}
else
{
    <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.TopLeft" TransformOrigin="Origin.TopLeft">
        <MudMenuItem Href="/login" Icon="@Icons.Material.Filled.Login">Войти</MudMenuItem>
        <MudMenuItem Href="/register" Icon="@Icons.Material.Filled.HowToReg">Зарегистрироваться</MudMenuItem>
    </MudMenu>
}

@code {
    [CascadingParameter] CurrentState CurrentState { get; set; } = null!;
}
